@using Librarian.Controllers
@using Librarian.Models
@model Librarian.Models.Transaction


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckedOutBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckedOutBy)
        </dd>
        @{
            var bookId = Model.LibraryBook.BookId;
            if (bookId != null)
            {
                  
            }
        }
    </dl>



    <div>
        <h3>Book Details</h3>
        <p>
            @Html.Partial("~/Views/Shared/BookDetailsPartial.cshtml", Model.LibraryBook);
        </p>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
